*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#search-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
#search-item{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  column-gap: 1rem;
  padding: 5px 5px;
  border-radius: 5px;
  border: 1px solid #fff;
}
#search-icon{
  width: 2rem;
  height: 2rem;
}
h1{
  margin-top: 1.5rem;
  text-align: center;
  text-decoration: underline;
  color: #bababa;
}
#parent-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
}
#user-details{
  margin-right: 2.5rem;
}
img{
  border: 3px solid rgb(5, 6, 9);
  border-radius: 5px;
}
body{
  /* background-color: #e1dddd; */
  background-color: rgb(13, 22, 51);
  color: #fff;
}